workflows/daily-news-digest-get-latest.json
{
  "id": "dailyNewsDigestGetLatest",
  "name": "Daily News Digest - Get Latest",
  "nodes": [
    {
      "parameters": {
        "path": "daily-news-digest",
        "httpMethod": "GET",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "5f55236a-430f-45d9-b6b5-d0c9f74e2201",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -420,
        260
      ],
      "webhookId": "daily-news-digest"
    },
    {
      "parameters": {
        "operation": "read",
        "fileSelector": "/home/node/.n8n-files/digests/latest.md",
        "options": {}
      },
      "id": "d730cb9e-d61f-4efb-ba5c-104cd17b2202",
      "name": "Read Latest Digest File",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -180,
        260
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\nreturn [{ json: { digest: buffer.toString('utf8') } }];"
      },
      "id": "340b28db-bfac-4697-bc2f-fa4ba5752203",
      "name": "Binary To Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        60,
        260
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.digest }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/markdown; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "1d2bd969-c970-4558-8cad-70c7b68c2204",
      "name": "Respond To Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        300,
        260
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Read Latest Digest File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Latest Digest File": {
      "main": [
        [
          {
            "node": "Binary To Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Binary To Text": {
      "main": [
        [
          {
            "node": "Respond To Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Warsaw"
  },
  "pinData": {},
  "versionId": "9e0bfe75-af72-4208-8d7b-6fffc6a12205",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "active": true
}
